.container {
  width: 800px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #43729d;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 400px;
  align-items: stretch;
  margin: 0 auto;
}

select {
  width: 220px;
  background-color: #DDE5EF;
  border: 1px solid #43729d;
  font-size: 20px;
  padding-left: 10px;
}

label {
  display: flex;
  width: 100px;
  height: 30px;
  align-items: center;
  box-sizing: border-box;
}

.form_item {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

input {
  width: 200px;
  border: 1px solid #43729d;
  background-color: #DDE5EF;
  font-size: 20px;
  padding-left: 15px;
}
/* select#faculty {
  border: #4f81bd solid 2px;
  width: 205px;
  height: 35px;
  background-color: #e1eaf4 !important;
  font-size: 14px;
} */

.buttons {
  display: flex;
}

button {
  display: flex;
  justify-content: center;
  min-width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  background-color: #4F80BC;
  border: 2px solid #42648F;
  border-radius: 10px;
}

.button {
  min-width: 10px;
  font-size: 18px;
  padding: 2px 15px;
  color: white;
  background-color: #8EADD2;
  border: 2px solid #7D99BB;
  border-radius: 0px;
  margin-right: 10px;
}

table {
  width: 100%;
  margin: 20px 0px;
}

th {
  text-align: start;
}
